<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
</head>
<body>
    <h1>Primera página web</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium molestias mollitia maiores, ipsa rem praesentium ratione aspernatur tenetur fugit voluptates eveniet sit minus nemo vitae deleniti asperiores cum hic nobis.
    In nulla distinctio quia fugiat necessitatibus eaque odit similique. Similique, iure? Magni possimus accusamus laborum repellat quaerat suscipit, mollitia dolore nobis dolorum corrupti nam dignissimos velit repellendus excepturi perspiciatis veniam?</p>
    <p>aquí estoy haciendo cambios de los branches</p>
</body>
</html>